@page
@model MegaDeskWeb.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Desk Quotes";
}

<div class="presentationBox">
    <h2>My Quotes</h2>
</div>


<p class="btnArea">
    <a asp-page="Create" class="btn btn-outline-success"><i class="fa fa-plus-square"></i> Add New</a>
</p>
<form>
    <p>
        <select asp-for="Material" asp-items="ViewBag.">
            <option value="">All</option>
        </select>   
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].RushOrderOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].QuotePrice)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuotes) {
        <tr class="quote_list_unit">
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushOrderOption.Option)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td class="quotes_options">
                <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId"><span class="glyphicon glyphicon-pencil"></span></a> |
                <a asp-page="./Details" asp-route-id="@item.DeskQuoteId"><span class="glyphicon glyphicon-th-list"></span></a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
